name: Security Scan

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  # 1️⃣ SAST - Bandit
  bandit-scan:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install Bandit
        run: pip install bandit

      - name: Run Bandit
        run: bandit -r app/ -ll

  # 2️⃣ DAST - OWASP ZAP
  dast-scan:
    runs-on: ubuntu-latest
    needs: bandit-scan

    steps:
      - uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.11

      - name: Install dependencies
        run: |
          pip install -r app/requirements.txt

      - name: Start FastAPI app
        run: |
          uvicorn app.main:app --host 0.0.0.0 --port 8000 &
          sleep 10

      - name: Run OWASP ZAP Baseline Scan
        run: |
          docker run --rm --network="host" \
          owasp/zap2docker-stable \
          zap-baseline.py -t http://localhost:8000
